<div class="container">
    <div class="row">
        <div class="col-md-4 center-block login">
            <div>
                <img class="center-block logo_home" src="assets/img/logo-home.png" srcset="assets/img/logo-home@2x.png 2x, assets/img/logo-home@3x.png 3x"
                />
                <h2 class="text-center">
                    BEM-VINDO AO EMPRESAS
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.
                </p>
            </div>
            <div class="alert alert-danger" ng-if="$ctrl.erroAuth">
                Email e/ou senha inválidos!
            </div>
            <form class="form-signin">
                <div class="input-group">
                    <div class="input-group-addon"><img src="assets/img/ic-email.svg" /></div>
                    <input ng-model="$ctrl.email" type="email" id="inputEmail" class="form-control input input-login" placeholder="E-mail" required
                        autofocus>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><img src="assets/img/ic-cadeado.svg" /></div>
                    <input ng-model="$ctrl.senha" type="password" id="inputPassword" class="form-control input input-login" placeholder="Senha"
                        required>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="$ctrl.login()">ENTRAR</button>
            </form>
        </div>
    </div>
</div>