<nav class="navbar navbar-background navbar-fixed-top">
    <div class="wrapper container">
        <div class="navbar-header" ng-show="!$ctrl.isModoBusca">
            <a class="navbar-brand text-hide" href="#">ioasys</a>
        </div>
        <div class="nav navbar-right" ng-show="!$ctrl.isModoBusca">
            <img src="assets/img/ic-search.svg" class="ic_search-copy ic-btn" ng-click="$ctrl.abrirBusca()" />
        </div>
        <div class="row" ng-show="$ctrl.isModoBusca">
            <div class="col-md-1 col-sm-2 col-xs-2">
                <img src="assets/img/ic-search.svg" class="ic_search-copy" />
            </div>
            <div class="col-md-10 col-sm-8 col-xs-8">
                <input name="searchtext" class="form-control input input-search" type="text" ng-model="$ctrl.query" ng-change="$ctrl.buscar($event, $ctrl.query)"
                    autofocus>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-2">
                <img src="assets/img/ic-close.svg" class="ic_search-copy ic-btn" ng-click="$ctrl.fecharBusca()" />
            </div>
        </div>
        <hr class="linha-inferior" ng-show="$ctrl.isModoBusca" />
    </div>
</nav>

<div class="wrapper container">
    <div class="center-block">
        <div ng-loading="$ctrl.empresas"></div>
        <div class="base" ng-repeat="empresa in $ctrl.empresas | filter:$ctrl.query">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img ng-src="assets/img/img-e-1-lista.svg" alt="{{empresa.enterprise_name}}" />
                </div>
                <div class="col-md-8 col-sm-6">
                    <h2 class="lista"><a href="#!/empresa/{{empresa.id}}">{{empresa.enterprise_name}}</a>
                    </h2>
                    <h3 class="lista">{{empresa.enterprise_type.enterprise_type_name}}</h3>
                    <h4 class="lista">{{empresa.country}}</h4>
                </div>
            </div>
        </div>
        <div class="lista-placeholder col-md-12" ng-if="$ctrl.empresas.length === 0">
            Clique na busca para iniciar
        </div>
    </div>
</div>