<nav class="navbar navbar-background navbar-fixed-top">
    <div class="wrapper container">
        <div class="navbar-header" ng-show="!$ctrl.isModoBusca">
            <a class="navbar-brand text-hide" href="#">ioasys</a>
        </div>
        <div class="nav navbar-right" ng-show="!$ctrl.isModoBusca">
            <img src="assets/img/ic-search.svg" class="ic_search-copy ic-btn" ng-click="$ctrl.abrirBusca()" />
        </div>
        <div class="row" ng-show="$ctrl.isModoBusca">
            <div class="col-md-1 col-sm-2 col-xs-2">
                <img src="assets/img/ic-search.svg" class="ic_search-copy" />
            </div>
            <div class="col-md-10 col-sm-8 col-xs-8">
                <input name="searchtext" class="form-control input input-search" type="text" ng-model="$ctrl.query" uib-typeahead="empresa.id as empresa.enterprise_name for empresa in $ctrl.buscar($viewValue)"
                    typeahead-min-length="2" typeahead-on-select="$ctrl.onSelect($item, $model, $label)" />
            </div>
            <div class="col-md-1 col-sm-2 col-xs-2">
                <img src="assets/img/ic-close.svg" class="ic_search-copy ic-btn" ng-click="$ctrl.fecharBusca()" />
            </div>
        </div>
        <hr class="linha-inferior" ng-show="$ctrl.isModoBusca" />
    </div>
</nav>

<div class="wrapper container" ng-loading="$ctrl.empresa">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-10 base  center-block">
            <img ng-src="assets/img/img-e-1-lista.svg" alt="{{empresa.enterprise_name}}" class="img-detalhe" />
            <p class="texto-detalhe">{{$ctrl.empresa.description}}</p>
        </div>
    </div>
</div>