@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
html * {
    font-family: Roboto;
}

.logo_home {
    width: 295px;
    height: 72px;
    object-fit: contain;
}

body {
    padding-top: 100px;
    background-color: #ebe9d7;
}

.base {
    padding: 20px;
    border-radius: 4.7px;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 364px;
}

.navbar-background {
    background-image: linear-gradient(173deg, #ee4c77, #0d0430);
    padding: 19px 0px 15px 0px;
    height: 100px;
}

.navbar-brand {
    background: url(../assets/img/logo-nav.png) center / contain no-repeat;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    width: 200px;
}

.lista-placeholder {
    height: 39px;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: -0.5px;
    color: #383743;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

h2.lista {
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #1a0e49;
}

h3.lista {
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
    color: #8d8c8c;
}

h4.lista {
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #8d8c8c;
}

.ic_search-copy {
    width: 60px;
    height: 60px;
    object-fit: contain;
    color: white;
}

.ic-btn {
    cursor: pointer;
}

.input-search {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    margin: 0px;
    font-size: 34px;
    text-align: left;
    color: #ffffff;
}

.input-search:focus {
    outline: none;
}

hr.linha-inferior {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.center-block {
    float: none;
}

.input-group-addon {
    border: none;
    background: transparent;
}

.input-group {
    border-bottom: 1px solid #383743;
    margin-bottom: 15px;
}

.input-group-busca {
    border-bottom: 1px solid white;
}

.input-login {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #383743;
}

.input:focus,
.input.active,
.input {
    box-shadow: none;
}

.btn-primary {
    background-color: #57bbbc;
    border-color: #57bbbc
}

.img-detalhe {
    width: 100%;
    padding-bottom: 20px;
}

.texto-detalhe {
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8d8c8c;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #ee4c77;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


.login h2 {
    width: 260px;
    margin: 20px auto;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #383743;
}

.login p {
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.3px;
    text-align: center;
    color: #383743;
}